.product-card {
  padding: 15px 15px 25px 15px;
  width: 400px;
  height: auto;
  background-color: #ffffff;
  margin: 10px;
  height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .pc-t-section {
    & .pc-media-section {
      & .pc-image {
        height: 315px;
        width: 100%;
      }
    }
  }

  & .pc-b-section {
    width: 100%;
    & .pc-product-name-section {
      margin-top: 30px;
      & .pc-product-name {
        font-family: "PlusJakartaSans-Medium";
        font-size: 15px;
        color: #000000;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    & .pc-product-price-section {
      margin-top: 20px;

      & .pc-product-price {
        font-family: "PlusJakartaSans-Medium";
        font-size: 15px;
        color: #646161;
        text-align: center;
      }
    }

    & .pc-product-button-section {
      margin-top: 30px;
    }
  }
}
