.image-slider-container {
  margin-top: 200px;

  & .is-t-section {
    & .image-slider-lib {
      background: #ffffff;
      height: 500px;
      width: 86%;
      margin-left: 7%;
      border-radius: 68px;
    }
  }

  & .slick-arrow {
    display: none !important;
  }

  & .is-t-section {
    position: relative;

    & .slick-dots {
      position: absolute;
      top: -750px;
      left: 0;

      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      & li {
        margin: 0px;
        width: max-content;

        & .s-btn-section {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
        }
      }
    }
  }
}
