.image-slider-container {
  & .is-t-section {
    & .image-slider-lib {
      background: #ffffff;
      height: 500px;
      width: 86%;
      margin-left: 7%;
      border-radius: 68px;
    }
  }

  & .slick-dots {
    position: relative;
    margin-top: 40px;

    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    & li {
      margin: 0px;
      width: max-content;

      & .s-btn-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
    }
  }
}
