.slider-button-section {
  height: 50px;
  width: 200px !important;
  border-radius: 100px;
  padding: 5px 50px 5px 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  & .sb-background-container {
    background-color: transparent;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    & .sb-background-active {
      height: 100%;
      width: 0%;
    }
  }

  & .sb-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    position: relative;
    pointer-events: none;

    & .sb-image-section {
      height: 40px;
      width: 40px;
      border-radius: 100px;
      overflow: hidden;

      & .sb-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & .sb-heading-section {
      margin-left: 15px;

      & .sb-heading {
        font-size: 15px;
        font-family: "PlusJakartaSans-Regular";
        color: #ffffff;
        text-transform: capitalize;
        user-select: none;
      }
    }
  }
}

@media screen and(min-width: 0px) and (max-width: 600px) {
  .slider-button-section {
    height: 35px;
    width: 200px !important;
    border-radius: 100px;
    padding: 2px 30px 2px 7px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    & .sb-section {
      & .sb-image-section {
        height: 20px;
        width: 20px;
      }

      & .sb-heading-section {
        margin-left: 10px;

        & .sb-heading {
          font-size: 12px;
          font-family: "PlusJakartaSans-Regular";
          color: #ffffff;
          text-transform: capitalize;
          user-select: none;
        }
      }
    }
  }
}

@media screen and(min-width: 600px) and (max-width: 1000px) {
  .slider-button-section {
    height: 40px;
    width: 175px !important;
    border-radius: 100px;
    padding: 4px 30px 4px 7px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    & .sb-section {
      & .sb-image-section {
        height: 25px;
        width: 25px;
      }

      & .sb-heading-section {
        margin-left: 10px;

        & .sb-heading {
          font-size: 12px;
          font-family: "PlusJakartaSans-Regular";
          color: #ffffff;
          text-transform: capitalize;
          user-select: none;
        }
      }
    }
  }
}

@media screen and(min-width: 1200px) and (max-width: 1400px) {
  .slider-button-section {
    height: 40px;
    width: 200px !important;
    border-radius: 100px;
    padding: 4px 30px 4px 7px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    & .sb-section {
      & .sb-image-section {
        height: 25px;
        width: 25px;
      }

      & .sb-heading-section {
        margin-left: 10px;

        & .sb-heading {
          font-size: 12px;
          font-family: "PlusJakartaSans-Regular";
          color: #ffffff;
          text-transform: capitalize;
          user-select: none;
        }
      }
    }
  }
}
